body{
    max-width: 100vw;
}

nav .navbar-brand
{
    font-size: x-large;
}
.primary-colors {
    color: #48B!important;
    background-color: #D8D!important;
}
.primary-font{
    color: #48B!important;
}
.main{
    display: block!important;
}
.block {
    display: block!important;
}
#forgotpassword, #apologymsg {
    background-color: #fff;
    border: none!important;
    font-size: 10px;
    color: #48B;
    outline: none!important;
    text-decoration: none;
}
.width10{
    width: 10%;
}
.width15{
    width: 15%
}
.logoshadow {
    -webkit-filter: drop-shadow(10px 0px 15px #48B);
    filter: drop-shadow();
}
.shadow {
    box-shadow: 2px 2px 15px 1px #48B!important;
}
.knewavefont {
    font-family: 'Knewave', cursive;
    font-weight: 200;
}
button.shadow:hover{
    background-color: rgb(243, 160, 243)!important;
    box-shadow: 2px 2px 15px 1px rgb(83, 169, 235)!important;

}
.noborder{
    border: none!important;
}

.width100{
    width: 100%!important;
}
.btnfocus:focus{
    background-color: rgb(243, 160, 243)!important;
    /*box-shadow: 2px 2px 15px 1px rgb(83, 169, 235)!important;*/
    box-shadow: 0 0 0 0.25rem rgb(83 169 235 / 50%)!important;
}
.fontw100 {
    font-weight: 100;
}
.margindropdown{
    margin: 10px -65px 2px !important;
}
.shadow-item{
    background-color: #f8f9fA!important;
}
.shadow-item:hover{
    background-color: rgb(243, 160, 243)!important;
}
.fontsize10vw{
    font-size: 10vw;
}
.border{
    outline:solid 2px #D8D;
}
.bkground-color-box{
    background-color: #f8f9fA;
}
.bkground-color-box-white{
    background-color: #f8f9fA;
}
.bkground-color-box:hover{
    background-color: rgb(243, 160, 243)!important;
}
.bkground-color-box-delete:hover{
    background-color: rgb(233, 71, 93)!important;
}
.bkground-color-box-create:hover{
    background-color: rgb(71, 233, 184)!important;
}
button.bkground-color-box-create:hover{
    background-color: rgb(71, 233, 184)!important;
}

.round-corner{
    border-radius: 2.25rem;
}
.width05vw{
    width: 4.3em;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.inline{
    display: inline;
}
.fontsize22em{
    font-size: 2.2em;
}
.margin-top-inline130{
    margin-top: -130%;
}
.line-height{
    line-height: 140%;
}
.margin-right-inline20{
    margin-right: -20%;
}
.block-small{
    display: block!important;
}
.margin-top-w2{
    margin-top: 2%;
}
.primary-colors-checkbox{
    color: #48B!important;
    background-color: #f8f9fA!important;
}
.primary-colors-checkbox:checked{
    color: #48B!important;
    background-color: #D8D!important;
}
.margin-left-85{
    margin-left: -85%;
}
.margin-left-88{
    margin-left: -88%;
}
.margin-left-10{
    margin-left: 10%;
}
.margin-left-15{
    margin-left: 15%;
}
.margin-right-3{
    margin-right: 3%;
}
.margin-left-1{
    margin-left: 1%;
}
.margin-left-70{
    margin-left: 70%;
}
.margin-left-8{
    margin-left: 8%;
}
.margin-left-3{
    margin-left: 3%;
}
.fontsize10pc{
    font-size: 10%;
}
.width12{
    width: 12%
}
.width14{
    width: 14%
}
.width60{
    width: 60%
}
.width20{
    width: 20%
}
.style-li{
    list-style-type: none;
    list-style-position: outside;
    color: #48B;
    padding: 0%;
    margin:0%;
    text-align: left;
}
.style-li-notype{
    list-style-type: none;
}
ul.max-width-100{
    max-width: 100vw;
}
ul.none-display{
    display: none!important;
}
.margin0 {
    margin: 0%;
}
.margin2 {
    margin: 2%;
}
.padding2{
    padding: 2%;
}
.border-top-tbody{
    border-top: #D8D 5px solid!important;
}
.padding-left-5{
    padding-left: 5%!important;
}
.padding-left-4{
    padding-left: 4.5%!important;
}