/*by tag*/
html{
    margin: 0%;
}
body{
    margin: 0%;
    max-width: 100vw;
}
footer{
    position:relative;
    bottom: 10%;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 100px;
}
main{
    display: block!important;
    margin: 0%!important;
    padding: 0%!important;
    min-height: 70vh;

}


/*by class*/
.bkground-color{
    background-color: #8fd694;
}
.bkground-color-secondary{
    background-color: #6f8f72;
}
.bkground-color-black{
    background-color: #161b21;
}
.bkground-color-box{
    background-color: #f8f9fA;
}
.bkground-color-box-white{
    background-color: #f8f9fA;
}
.bkground-color-box:hover{
    background-color: #8fd694!important;
}
.bkground-color-box-delete:hover{
    background-color: rgb(233, 71, 93)!important;
}
.bkground-color-box-create:hover{
    background-color: rgb(71, 233, 184)!important;
}
button.bkground-color-box-create:hover{
    background-color: rgb(71, 233, 184)!important;
}
.block {
    display: block!important;
}
.block-small{
    display: block!important;
}
.border{
    outline:solid 2px #8fd694;
}
.noborder{
    border: none!important;
}
.border-bottom{
    border-bottom: #8fd694 1px solid!important;
}
.border-top{
    border-top: #8fd694 1px solid!important;
}
.border-bottom5{
    border-bottom: #8fd694 5px solid!important;
}
.btnfocus:focus{
    background-color: #8fd694!important;
    /*box-shadow: 2px 2px 15px 1px rgb(83, 169, 235)!important;*/
    box-shadow: 0 0 0 0.25rem (#8fd694/ 50%)!important;
}
.color-white{
    color: #f8f9fA;
}
.display-contents{
    display: contents;
}
.display-none{
    display: none!important;
}
.fontsize22em{
    font-size: 2.2em;
}
.fontsize10pc{
    font-size: 10%;
}
.font-size025{
    font-size: 0.25vw;
}
.font-size085{
    font-size: 0.85vw;
}
.font-size1-0{
    font-size: 1vw;
}
.font-size1{
    font-size: 1.5vw;
}
.font-size3{
    font-size: 3vw;
}
.font-size7{
    font-size: 7vw;
}
.fontsize10vw{
    font-size: 10vw;
}
.fontw100{
    font-weight: 100;
}
.abrilfatface-font{
    font-family: 'Abril Fatface', cursive!important;
}
.knewavefont {
    font-family: 'Knewave', cursive;
    font-weight: 200;
}
.poppins-font{
    font-family: 'Poppins', sans-serif;
}
.footer-links{
    color:#77AD78;
}
.footer-links:hover{
    color: #8fd694;
    -webkit-transition: 0.5s;
    transition: 2s;
    -webkit-transition-property: all;
    transition-property: all;
    letter-spacing: 0.2em;
}
.height100{
    height: 100%;
}
.height-width25{
    height: 60px;
}
.i-hover:hover{
    color: #8fd694!important;
}
.inline{
    display: inline!important;
}
.inline-block{
    display: inline-block !important;
}
.linear-gradient-bottom{
    background: linear-gradient(to bottom, #fff 0%, #77AD78 100%);
}
.linear-gradient-top{
    background: linear-gradient(to top, #fff 0%, #77AD78 100%);
}
.line-height{
    line-height: 140%;
}
.logoshadow {
    -webkit-filter: drop-shadow(10px 0px 15px #6f8f72);
    filter: drop-shadow();
}
.margin0 {
    margin: 0%;
}
.margin2 {
    margin: 2%;
}
.margin3{
    margin: 3%;
}
.margindropdown{
    margin: 10px 20px 2px !important;
}

.margin-left-1{
    margin-left: 1%;
}
.margin-left-3{
    margin-left: 3%;
}
.margin-left-8{
    margin-left: 8%;
}
.margin-left-10{
    margin-left: 10%;
}
.margin-left-15{
    margin-left: 15%;
}
.margin-left-70{
    margin-left: 70%;
}
.margin-left-85{
    margin-left: -85%;
}
.margin-left-88{
    margin-left: -88%;
}
.margin-right-3{
    margin-right: 3%;
}
.margin-right-inline20{
    margin-right: -20%;
}
.margin-top-w2{
    margin-top: 2%;
}
.margin-top-inline130{
    margin-top: -130%;
}
.objective-fit-cover{
    width: 180px;
    height: 300px;
    object-fit: cover;
}
.objective-fit-cover-25auto{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.padding2{
    padding: 2%;
}
.padding-left-4{
    padding-left: 4.5%!important;
}
.padding-left-5{
    padding-left: 5%!important;
}
.primary-colors {
    color: #161b21!important;
    background-color: #77AD78!important;
}
.primary-colors-whitebkg{
    color: #161b21!important;
    background-color: #fff!important;
}
.primary-colors-checkbox{
    color: #161b21!important;
    background-color: #f8f9fA!important;
}
.primary-colors-checkbox:checked{
    color: #161b21!important;
    background-color: #8fd694!important;
}
.primary-font{
    color: #161b21!important;
}
.resizable{
    overflow:hidden!important;
    resize: both!important;
}
.round-corner{
    border-radius: 2.25rem;
}
.secondary-font{
    color: #8fd694!important;
}
.shadow {
    box-shadow: 2px 2px 15px 1px #8fd694!important;
}
button.shadow:hover{
    background-color: #8fd694!important;
    box-shadow: 2px 2px 15px 1px #8fd694!important;
}
.shadow-item{
    background-color: #f8f9fA!important;
}
.shadow-item:hover{
    background-color: #8fd694!important;
}
.style-li{
    list-style-type: none;
    list-style-position: outside;
    color: #161b21;
    padding: 0%;
    margin:0%;
    text-align: left;
}
.style-li-notype{
    list-style-type: none;
}
.text-align-center{
    text-align: center;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
ul.max-width-100{
    max-width: 100vw;
}
ul.none-display{
    display: none!important;
}
.no-underline{
    text-decoration: none;
}
.vertical-align-middle{
    vertical-align: middle;
}
.vertical-align-top{
    vertical-align: top!important;
}
.width05vw{
    width: 4.3em;
}
.width10{
    width: 10%;
}
.width12{
    width: 12%
}
.width15{
    width: 15%
}
.width14{
    width: 14%
}
.width20{
    width: 20%
}
.width25{
    width: 25%;
}
.width30{
    width: 30%;
}
.width50{
    width: 50%;
}
.width60{
    width: 60%;
}
.width80{
    width: 80%;
}
.width100{
    width: 100%!important;
}
.width-image-footer{
    width: 100px;
    height: 160px;
}
.width-image-grid{
    width: 180px;
    height: 300px;
}

/*by id */
#forgotpassword, #apologymsg {
    background-color: #fff;
    border: none!important;
    font-size: 10px;
    color: #161b21;
    outline: none!important;
    text-decoration: none;
}