{% extends "layout.html" %}
{% block title %}
create a customized list
{% endblock %}

{% block span %}
create a customized list
{% endblock %}

{% block main %}
<form action="/createnewlist" class="knewavefont mx-auto text-start" method="post">
    <div class="form-group mb-3">
        <label class="" for="listname">List Name</label>
        <input type="text" class="form-control w-auto" id="listname" aria-describedby="listnamehelp"
            placeholder="Enter a list name">
        <small id="listnamehelp" class="form-text text-muted">how you want to name this list</small>
    </div>
    <div class="mb-3">
        <p class="w-auto">Element Features</p>
        <p class="form-text text-align-left text-muted ">Choose the features for each element of this list</p>
    </div>
    <div class="d-flex flex-row align-content-strech justify-content-start flex-wrap">
        {% for key, value in listelements.items() %}
        <div class="border form-group p-3">
            <input type="checkbox" class="form-check-input primary-colors-checkbox" id="{{key}}" aria-describedby="{{key}}help">
            <label class="primary-font" for="{{key}}">{{key}}</label>
            <small id="{{key}}help" class="block-small form-text text-muted">{{value}}</small>
        </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <p class="w-auto">Customized Features</p>
        <p class="form-text text-align-left text-muted ">Ask for specific features for each element of this list</p>
    </div>
    <div class="block-small border form-group mb-3 p-3">
        <label class="primary-font" for="otherlabel">Feature Name</label>
        <input type="text" class="form-control w-auto" id="otherlabel" aria-describedby="otherlabelhelp"
            placeholder="Enter a feature name">
        <small id="otherlabelhelp" class="form-text text-muted">how you want to name this feature</small>
        <label class="block-small primary-font" for="otherdescriptionlabel">Description</label>
        <input type="text" class="form-control" id="otherdescriptionlabel" aria-describedby="otherdescriptionlabelhelp"
            placeholder="Enter a feature description">
        <small id="otherdescriptionlabelhelp" class="form-text text-muted">how this feature has to work</small>
    </div>
    <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary margin-top-w2">Create list</button>
    </div>
</form>

{% endblock %}