{% block head %}


{% endblock %}

{% if style and elements %}
    <!-- showelementinfo elements-->
    <div class="container-xxl">
    {% for element in elements %}
        <div class="collapse" id="showelementinfo{{loop.index0}}">
            <div class="d-flex flex-row flex-wrap margin2">
                <!--image of showelementinfo-->
                <div class="mb-3 width14">
                    {% for image in images%}
                    {% if image['nametable_id'] == element['id'] %}
                    <div class="mb-3 ">
                        <div class="mb-3">
                            <form action="/image?{{image['nametable']}}&{{image['nametable_id']}} " method="get">
                                <input name="nametable_id" type="hidden" value="{{image['nametable_id']}}">
                                <input name="nametable" type="hidden" value="{{image['nametable']}}">
                                {% if image['name' == 'img_paid']%}
                                <input name="imgname" type="hidden" value="{{image['img_paid']}}">
                                {% else %}
                                <input name="imgname" type="hidden" value="{{image['name']}}">
                                {% endif %}

                                <button class="noborder bkground-color-box-none width80" title="open this image" type="submit">
                                    <img alt="image" class="border form-control bkground-color-box-white poppins-font primary-font"
                                        src="data:{{image['mimetype']}};base64,{{image['imagedata']}}">
                                </button>
                            </form>
                        </div>
                        <!--Download element-->
                        <div class="">
                            <form action="/list?lists_id={{lists_id}}" method="post">
                                {% if image['name' == 'img_paid']%}
                                <input name="imgname" type="hidden" value="{{image['img_paid']}}">
                                {% else %}
                                <input name="imgname" type="hidden" value="{{image['name']}}">
                                {% endif %}
                                <input name="actiononelement" type="hidden" value="downloadelement">
                                <input name="iddownloadelement" type="hidden" value="{{element['id']}}">

                                <button
                                    class="btn btn-primary noborder primary-font primary-colors-whitebkg text-align-left w-auto"
                                    type="submit">
                                    <i class="i-hover bi bi-arrow-down-circle"></i>
                                </button>

                            </form>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% if element['img_id'] == 0 %}
                    <button class="noborder bkground-color-box-none width80" title="open image" type="button">
                        <div class="border form-control bkground-color-box-white poppins-font primary-fontwidth60">
                        <i class="bi bi-slash-circle"></i>
                        <p> No image <br> for <br> this element</p>
                        </div>
                    </button>
                    {% endif %}


                </div>
                <!--other showelementinfo items -->
                <div id="elementstoshow{{loop.index0}}" class="mb-3 inline width60">
                    <div class="d-flex flex-row flex-wrap">
                        {% for key,value in element.items() %}
                        {% if key != 'cover' and key != 'cover_paid' %}
                        {% if key != 'id' and key != 'img_id' and key != 'lists_id' and key != 'user_id' and key !=
                        'img_paid_id' %}
                        <div class="mb-3 margin-left-8 text-align-left w-auto">
                            <label class="abrilfatface-font">{{key.capitalize()}}</label>
                            {% if value == '' or value == 'null' %}
                            <h3 class="border form-control mx-auto bkground-color-box-white poppins-font primary-font">
                                -
                            </h3>
                            {% else %}
                            <h3 class="border form-control mx-auto bkground-color-box-white poppins-font primary-font">
                                {{value}}
                            </h3>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        </form>
                    </div>
                </div>
                <!--edit toggle elements to edit the showelementinfo-->
                <div id="editinfo{{loop.index0}}" class="mb-3 display-none width60">
                    <form action="/list?lists_id={{lists_id}}" method="post">
                        <div class="mb-3" align="center">
                            <div class="d-flex flex-row flex-wrap">
                                {% for key,value in element.items() %}
                                {% if key != 'cover' and key != 'address' %}
                                {% if key not in ['id', 'img_id','lists_id', 'user_id', 'namelist', 'year',
                                'note','description', 'img_paid_id','expiration_date', 'nolaterthan', 'onthisdatetime', 'time', 'datetime_of_buying', 'status'] %}
                                <div class="mb-3 margin-left-8 p-2 text-align-left w-auto">
                                    <label class="abrilfatface-font " for="edit{{key}}">{{key.capitalize()}}</label>
                                    {% if value == '' or value == 'null' %}
                                    <input name="edit{{key}}"
                                        class="border form-control mx-auto bkground-color-box-white poppins-font primary-font "
                                        placeholder="{{key}}: -" type="text">
                                    {% else %}
                                    <input name="edit{{key}}"
                                        class="border form-control mx-auto bkground-color-box-white poppins-font primary-font"
                                        placeholder="{{key}}: {{value}}" type="text" value="{{value}}">
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if key == 'year' %}
                                <div class="mb-3 margin-left-8 p-2 text-align-left w-auto">
                                    <label class="abrilfatface-font " for="edit{{key}}">{{key.capitalize()}}</label>
                                    <input name="edit{{key}}"
                                        class="border form-control mx-auto bkground-color-box-white poppins-font primary-font"
                                        maxlength="4" placeholder="{{key}}: {{value}}" type="text" value="{{value}}">
                                </div>
                                {% endif %}
                                {% if key == 'expiration_date' or key == 'datetime_of_buying' or key == 'nolaterthan' or key == 'onthisdatetime' %}
                                <div class="mb-3 margin-left-8 p-2 text-align-left w-auto">
                                    <label class="abrilfatface-font " for="edit{{key}}">{{key.capitalize()}}</label>
                                    <input name="edit{{key}}"
                                        class="border form-control mx-auto bkground-color-box-white poppins-font primary-font"
                                        placeholder="{{key}}: {{value}}" type="date" value="{{value}}">
                                </div>
                                {% endif %}

                                {% if key == 'time' %}
                                <div class="mb-3 margin-left-8 p-2 text-align-left w-auto">
                                    <label class="abrilfatface-font " for="edit{{key}}">{{key.capitalize()}}</label>
                                    <input name="edit{{key}}"
                                        class="border form-control mx-auto bkground-color-box-white poppins-font primary-font"
                                        placeholder="{{key}}: {{value}}" type="time" value="{{value}}">
                                </div>
                                {% endif %}

                                {% if key == 'note' or key =='description' %}
                                <div class="mb-3 margin-left-8 p-2  text-align-left w-auto">
                                    <label class="abrilfatface-font " for="edit{{key}}">{{key.capitalize()}}</label>
                                    {% if value == '' %}
                                    <textarea name="edit{{key}}"
                                        class="border form-control mx-auto bkground-color-box-white poppins-font primary-font resizable w-auto"
                                        placeholder="{{key}}: -"></textarea>
                                    {% else %}
                                    <textarea name="edit{{key}}"
                                        class="border form-control mx-auto bkground-color-box-white poppins-font primary-font resizable w-auto"
                                        placeholder="{{key}}: {{value}}">{{value}}</textarea>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% for key,value in element.items() %}
                                {% if key == 'status' %}
                                {% for el in listelements%}
                                {% if el['type']==nametable %}
                                {% for k,v in el.items() %}
                                {% if k=='status' %}
                                <div class="mb-3 margin-left-8 p-2 text-align-left">
                                    <label class="abrilfatface-font " for="edit{{key}}">{{key.capitalize()}}</label>
                                    <!--status-->
                                    {% if element['status'] == v[0] %}
                                    <div class="block border form-control w-auto mx-auto">

                                        <div class="d-flex flex-row flex-wrap justify-content-start">
                                            <div class="w-auto">
                                                <input id="val0-{{element['id']}}"
                                                    class="form-check-input bkground-color-box-white poppins-font primary-font primary-colors-checkbox"
                                                    checked name="edit{{key}}" title="{{v[0]}}" type="radio"
                                                    value="{{v[0]}}">
                                            </div>
                                            <div class=" w-auto">
                                                <label class="form-check-label mx-auto " for="val0-{{element['id']}}">{{v[0]}}</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row flex-wrap justify-content-start">
                                            <div class="w-auto">
                                                <input id="val1-{{element['id']}}"
                                                    class="form-check-input bkground-color-box-white  poppins-font primary-font primary-colors-checkbox"
                                                    name="edit{{key}}" title="{{v[1]}}" type="radio" value="{{v[1]}}">
                                            </div>
                                            <div class=" w-auto">
                                                <label class="form-check-label mx-auto w-auto"
                                                    for="val1-{{element['id']}}">{{v[1]}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="block border form-control w-auto mx-auto">

                                        <div class="d-flex flex-row flex-wrap justify-content-start">
                                            <div class="w-auto">
                                                <input id="val0-{{element['id']}}"
                                                    class="form-check-input bkground-color-box-white poppins-font primary-font primary-colors-checkbox"
                                                    name="edit{{key}}" title="{{v[0]}}" type="radio" value="{{v[0]}}">
                                            </div>
                                            <div class=" w-auto">
                                                <label class="form-check-label mx-auto " for="val0-{{element['id']}}">{{v[0]}}</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row flex-wrap justify-content-start">
                                            <div class=" w-auto">
                                                <input id="val1-{{element['id']}}"
                                                    class="form-check-input bkground-color-box-white  poppins-font primary-font primary-colors-checkbox"
                                                    name="edit{{key}}" checked title="{{v[1]}}" type="radio"
                                                    value="{{v[1]}}">
                                            </div>
                                            <div class="w-auto">
                                                <label class="form-check-label mx-auto w-auto"
                                                    for="val1-{{element['id']}}">{{v[1]}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}

                                {% endif %}
                                {% endfor %}
                                <input name="actiononelement" type="hidden" value="editelement">
                                <input name="ideditelement" type="hidden" value="{{element['id']}}">
                            </div>
                            <!--update button-->
                            <div class="mb-3 p-2">
                                <input
                                    class="bkground-color-box-create btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                                    type="submit" value="Update">
                            </div>
                        </div>
                    </form>
                    <!-- update paid cover toggle elements-->
                    <div id="updatepaidinfo{{loop.index0}}" class="mb-3 width60 display-none">
                        <form action="/list?lists_id={{lists_id}}" method="post" enctype="multipart/form-data">
                            {% for key,value in element.items() %}
                            {% if key == 'img_paid_id' %}
                            <div class="mb-3 p-2">
                                <label class="abrilfatface-font " for="updatepaidcover">Paid Bill</label>
                                <input title="add one more image for paid bill receipt"
                                    class="border form-control mx-auto w-auto bkground-color-box-white poppins-font primary-font"
                                    name="inputimage" title="{{value}}" type="file">
                            </div>
                            <input name="actiononelement" type="hidden" value="updatepaidelement">
                            <input name="idupdatepaidelement" type="hidden" value="{{element['id']}}">
                            <!--update button-->
                            <div class="mb-3 p-2">
                                <input  title="add one more image for paid bill receipt"
                                    class="bkground-color-box-create btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                                    type="submit" value="Update">
                            </div>
                            {% endif %}
                            {% endfor %}

                        </form>
                    </div>
                </div>
                 <!--Edit, download, delete item buttons responsive-->
                <div class="actnbtnonelementresponsive position-relative left25pc " align="left">
                    <!--Edit Toggle-->
                    <div class="mb-3">
                        <button id="edittoggle{{loop.index0}}" title="make all element's details of this list ready to be changed"
                            class="abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left "
                            onclick="changeClass('elementstoshow{{loop.index0}}', 'editinfo{{loop.index0}}'); changeClass('updatepaidbtn{{loop.index0}}', 'updatepaidbtn{{loop.index0}}');"
                            type="button"><i class="bi bi-pencil-square"></i></button>
                    </div>
                    <!--Upload Cover_Paid toggle-->
                    {% if nametable == 'bills' %}
                    {% if element['img_paid_id'] == 0 %}
                    <div class="mb-3">
                        <button id="updatepaidbtn{{loop.index0}}" title="open aria to add a new image"
                            class="abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left display-none"
                            onclick="changeClass('updatepaidinfo{{loop.index0}}', 'updatepaidinfo{{loop.index0}}');"
                            type="button"><i class="bi bi-file-earmark-arrow-up"></i></button>
                    </div>
                    {% endif %}
                    {% endif %}
                    <!--Delete element-->
                    <div class="mb-3">
                        <form action="/list?lists_id={{lists_id}}" method="post">
                            <input name="actiononelement" type="hidden" value="deleteelement">
                            <input name="iddeleteelement" type="hidden" value="{{element['id']}}">
                            <button title="delete this element"
                                class="bkground-color-box-delete btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                                type="submit" value="Delete"><i class="bi bi-trash"></i></button>
                        </form>
                    </div>
                    <!--close btns-->
                    <!--close toggled-->
                    <div class="mb-3">
                        <button title="close this element's details"
                            class="abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left "
                            onclick="closethistoggle('showelementinfo{{loop.index0}}');"
                            type="button"><i class="bi bi-x"></i></button>
                    </div>
                    <!--close All toggled-->
                    <div class="mb-3">
                        <button title="close all elements' details of this list"
                            class="abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left "
                            onclick="closealltoggle('{{elements|length}}','showelementinfo');" type="button"><i class="bi bi-x-circle"></i></button>
                    </div>
                </div>
                <!--Edit, download, delete item buttons-->
                <div class="actnbtnonelement mb-3 inline margin-left-3" align="left">
                    <!--Edit Toggle-->
                    <div class="mb-3">
                        <button id="edittoggle{{loop.index0}}" title="make all element's details of this list ready to be changed"
                            class="abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left "
                            onclick="changeClass('elementstoshow{{loop.index0}}', 'editinfo{{loop.index0}}'); changeClass('updatepaidbtn{{loop.index0}}', 'updatepaidbtn{{loop.index0}}');"
                            type="button">Edit +</button>
                    </div>
                    <!--Upload Cover_Paid toggle-->
                    {% if nametable == 'bills' %}
                    {% if element['img_paid_id'] == 0 %}
                    <div class="mb-3">
                        <button id="updatepaidbtn{{loop.index0}}" title="open aria to add a new image"
                            class="abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left display-none"
                            onclick="changeClass('updatepaidinfo{{loop.index0}}', 'updatepaidinfo{{loop.index0}}');"
                            type="button">Upload Paid Bill +</button>
                    </div>
                    {% endif %}
                    {% endif %}
                    <!--Delete element-->
                    <div class="mb-3">
                        <form action="/list?lists_id={{lists_id}}" method="post">
                            <input name="actiononelement" type="hidden" value="deleteelement">
                            <input name="iddeleteelement" type="hidden" value="{{element['id']}}">
                            <input title="delete this element"
                                class="bkground-color-box-delete btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                                type="submit" value="Delete">
                        </form>
                    </div>
                    <!--close btns-->
                    <div class="d-flex flex-row ">
                        <!--close toggled-->
                        <div class="mb-3">
                            <button title="close this element's details"
                                class="abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left "
                                onclick="closethistoggle('showelementinfo{{loop.index0}}');"
                                type="button">Close</button>
                        </div>
                        <!--close All toggled-->
                        <div class="mb-3 margin-left-8">
                            <button title="close all elements' details of this list"
                                class="abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left "
                                onclick="closealltoggle('{{elements|length}}','showelementinfo');" type="button">CloseAll</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
    </div>

<!--viewstyle table-->
{% if style == 'table' %}
<div class="width80">
<table class="poppins-font primary-font table table-hover text-align-left">
    <thead align="center">
        <tr class="border-bottom5">
            {% for feature in gridelements %}
            {% if feature['type'] == nametable %}
            {% for b,n in feature.items() %}
            {% if b!='type' %}
            <th class=""> {{b.capitalize()}}</th>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% if nametable == 'lists' %}
            {% else %}
            <th class="">More Info</th>
            {% endif %}

        </tr>
    </thead>
    <tbody align="center">
        {% for element in elements %}
        <tr class="">
            {% for k,v in element.items() %}

            {% for feature in gridelements %}
            {% if feature['type'] == nametable %}
            {% for b,n in feature.items() %}
            {% if v == '' and b==k and b != 'type' %}
            <td class=""> - </td>
            {% elif v!= '' and b==k and b != 'type' %}
            <td class="">{{element[k]}}</td>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% if nametable == 'lists' %}
            <td class="padding-left-5">
                <form action="/list?{{element['id']}}" method="get">
                    <input name="lists_id" type="hidden" value="{{element['id']}}">
                    <input name="namelist" type="hidden" value="{{element['namelist']}}">
                    <button title="open this list"
                    class="border bkground-color-box btn btnfocus btn-primary poppins-font primary-font w-auto h-auto"
                    value="{{element['namelist']}}" type="submit"
                    >Go</button>
                </form>
            </td>
            {% else %}

            <td class="padding-left-5"><button
                    class="border bkground-color-box btn btnfocus btn-primary poppins-font primary-font w-auto h-auto"
                    type="button" data-bs-toggle="collapse" data-bs-target="#showelementinfo{{loop.index0}}" title="open this element's details"
                    aria-expanded="false" aria-controls="showelementinfo{{loop.index0}}" type="submit"
                    value=""></button></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<!--viewstyle title-->
{% elif style == 'title' %}
<div class="container-xxl d-flex align-items-start flex-wrap mx-auto">
    {% for element in elements %}
    <div class="mb-3 p-2">
        {% if nametable != 'lists'%}
        <button class="border bkground-color-box btn btnfocus btn-primary poppins-font primary-font" type="button"
            data-bs-toggle="collapse" data-bs-target="#showelementinfo{{loop.index0}}" aria-expanded="false" title="open this element's details"
            aria-controls="showelementinfo{{loop.index0}}" type="submit" value="">
            <div align="left" class="height-width25">
        {% else %}
        <form action="/list?{{element['id']}}" method="get">
            <input name="lists_id" type="hidden" value="{{element['id']}}">
            <button title="open this list"
                class="border bkground-color-box btn btnfocus btn-primary poppins-font primary-font w-auto h-auto"
                type="submit" value="{{element['namelist']}}">
        {% endif %}
                
                    {% for k,v in element.items() %}
                        {% for feature in titleelements %}
                            {% for b,n in feature.items() %}
                                {% if feature['type'] == nametable %}
                                    {% if b != 'type' %} 
                                        {% if b == 'name' or b=='title' or b == 'namelist' %}
                                        {% if v == '' and b==k %}
                                            <p>-</p>
                                            {% elif v != '' and b==k %}
                                            <p>{{element[b]}}</p>
                                            {% endif%}
                                        {% endif%}
                                    {% endif%}
                                {% endif%}
                            {% endfor%}
                        {% endfor%}
                    {% endfor%}
                    {% if nametable != 'lists' %}
                        {% for k,v in element.items() %}
                            {% for feature in titleelements %}
                                {% if feature['type'] == nametable %}
                                    {% for b,n in feature.items() %}
                                        {% if b != 'type' %} 
                                            {% if b != 'name' and b!='title' and b != 'namelist' %}
                                                {% if v == '' and b==k %}
                                                <p>-</p>
                                                {% elif v != '' and b==k %}
                                                <p>{{element[b]}}</p>
                                                {% endif%}
                                            {% endif%}
                                        {% elif b == 'type' and  nametable == 'lists' %}
                                        <p>{{feature[b]}}</p>
                                        {% endif%}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
        {% if nametable != 'lists'%}
        </div>
        </button>
        {% else %}
        </button>
        </form> 
        {% endif %}
    </div>
    {% endfor %}
</div>

<!--viewstyle shoppinglist-->
{% elif style == 'shopping list' %}
{% if nametable != 'lists'%}
<div align="center" class="width80 width-sl-responsive-header mx-auto">
    <div class=" p-2 poppins-font primary-font primary-colors border width60  width-sl-responsive">
    This is your shopping list: {{namelist}}
    </div>
    {% for element in elements %}
    <div class="border d-flex flex-row flex-wrap mb-2 mt-2 py-2 width60  width-sl-responsive position-relative">
    <!-- actions buttons-->
    <div class="w-auto margin-left-3 align-self-center z-i-30">
        
        <div class="w-auto ">
            <form action="/list?lists_id={{lists_id}}" method="post">
                <input name="actiononelement" type="hidden" value="deleteelement">
                <input name="iddeleteelement" type="hidden" value="{{element['id']}}">
                <button class="noborder bkground-color-box-none" type="submit" title="delete this element"><i class="primary-font-delete-hover bkground-color-box-none font-size1 bi bi-trash3 font-size1-tdl"></i></button>
            </form>
        </div>
        <div class="w-auto">
            <button class="noborder bkground-color-box-none" onclick="displaynone('overcolor{{loop.index0}}');" type="button" title="change color of this element">
                <i class="font-size1-tdl primary-font-hover font-size1 bi bi-bag-check-fill"></i>
            </button>
        </div>
    </div>
    <!--image-->
    <div class="border objective-fit-cover-sl margin-left-3 align-self-center">
        {% if element['img_id'] != 0 %}
            {% for image in images%}
                {% if element['img_id'] == image['id'] %}
                <img class="objective-fit-cover-sl " src="data:{{image['mimetype']}};base64,{{image['imagedata']}}" alt="">
                {% endif %}
            {% endfor %}
        {% else %}
        <i class="objective-fit-cover-sl bi bi-slash-circle"></i>No image for this element
        {% endif %}
    </div>
    <!-- name + quantity + note + price-->
    <div class="width65 width-sl-responsive">
        <!-- name + quantity-->
        <div align="left" class="d-flex w-auto align-self-stretch">
            <!--name-->
            <div class="w-auto margin-left-8">
                <div class="w-auto"><label class="abrilfatface-font">Name</label></div>
                <div class="w-auto">
                    {% if element['name'] == '' or element['name'] == 'null' %}
                        <h3 class="w-auto border form-control mx-auto bkground-color-box-white poppins-font primary-font">-</h3>
                    {% else %}
                        <h3 class="w-auto border form-control mx-auto bkground-color-box-white poppins-font primary-font">{{element['name']}}</h3>
                    {% endif %}
                </div>
            </div>
            <!--quantity-->
            <div class="w-auto margin-left-8">
                <div class="w-auto">
                    <label class="abrilfatface-font block">Qnty</label>
                </div>
                <div class="d-flex flex-row w-auto">
                    <div class="w-auto">
                        <input id="actiononelement{{loop.index0}}" name="actiononelement" title="update quantity for this element" type="hidden" value="updateqnty">
                        <h3 id="quantity{{loop.index0}}" class="w-auto border form-control bkground-color-box-white poppins-font primary-font margin0" > 
                        {%if element['quantity'] == '' or element['quantity'] == 'null' %}
                        -
                        {% else %}
                        {{element['quantity']}}
                        {% endif %}
                        </h3>
                        
                    </div>
                    <div class="w-auto fontsize85pc margin-left-8 align-self-top ">
                        <div class="w-auto position-relativei top--95">
                            <input id="lists_id{{loop.index0}}" type="hidden" value="{{lists_id}}">
                            <input id="id{{loop.index0}}" type="hidden" value="{{element['id']}}">
                            <button id="increase{{loop.index0}}" class="noborder bkground-color-box-none" onclick="increaseqnty('quantity{{loop.index0}}'); updatetable('quantity{{loop.index0}}','lists_id{{loop.index0}}', 'id{{loop.index0}}', 'add' );" title="increase quantity for this element" " type="button">
                                <i class="primary-font-hover  bi bi-plus-square"></i>
                            </button>

                            <button id="decrease{{loop.index0}}" class="noborder bkground-color-box-none " onclick="decreaseqnty('quantity{{loop.index0}}'); updatetable('quantity{{loop.index0}}','lists_id{{loop.index0}}', 'id{{loop.index0}}', 'remove' );" title="decrease quantity for this element" type="button">
                                <i class="primary-font-hover  bi bi-dash-square"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- note + price -->
        <div align="left" class="d-flex w-auto">
            <!--note-->
            <div class="w-auto margin-left-8">
                <div class="w-auto">
                    <label class="abrilfatface-font block">Note</label>
                </div>
                <div class="w-auto">
                        <h3 class="w-auto border form-control bkground-color-box-white poppins-font primary-font margin0">
                        {% if element['note'] == '' or element['note'] == 'null' %}
                            -
                        {% else %}
                        {{element['note']}}
                        {% endif %}
                        </h3>
                </div>
            </div>
            <!--price-->
            <div class="w-auto margin-left-8">
                <div class="w-auto">
                    <label class="abrilfatface-font block">Price</label>
                </div>
                <div class="w-auto">
                    <h3 class="w-auto border form-control bkground-color-box-white poppins-font primary-font margin0">
                        {% if element['price'] == '' or element['price'] == 'null' %}
                            -
                        {% else %}
                        {{element['price']}}
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!--overcolor-->
    <div id="overcolor{{loop.index0}}" class="position-absolute width100 height100 bkground-color-box-grey top--05 display-none">

    </div>

    </div>
{% endfor %}
</div>
{% endif %}

<!--viewstyle to do list-->
{% elif style == 'to do list' %}
{% if nametable != 'lists'%}
<div id="elementviewstyletodolist" align="center" class="width80  width-sl-responsive-header mx-auto">
<div class=" p-2 poppins-font primary-font primary-colors border width60 width-sl-responsive">
    This is your to do list: {{namelist}}
</div>
{% for element in elements %}
<div class="border d-flex flex-row flex-wrap mb-2 mt-2 py-2 width60 width-sl-responsive position-relative">
    <!-- actions buttons-->
    <div class="w-auto margin-left-3 align-self-center z-i-30">
        
        <div class="w-auto ">
            <form action="/list?lists_id={{lists_id}}" method="post">
                <input name="actiononelement" type="hidden" value="deleteelement">
                <input name="iddeleteelement" type="hidden" value="{{element['id']}}">
                <button class="noborder bkground-color-box-none" title="delete this element" type="submit"><i class="primary-font-delete-hover bkground-color-box-none font-size1 font-size1-tdl bi bi-trash3"></i></button>
            </form>
        </div>
        <div class="w-auto">
            <input id="lists_id{{loop.index0}}" type="hidden" value="{{lists_id}}">
            <input id="id{{loop.index0}}" type="hidden" value="{{element['id']}}">
            <button class="noborder bkground-color-box-none" onclick=" displaynonetodolist('overcolor{{loop.index0}}', 'overcolordefault{{loop.index0}}', 'status{{loop.index0}}','defaulticon{{loop.index0}}','icon{{loop.index0}}'); updatetodostatus('status{{loop.index0}}','lists_id{{loop.index0}}','id{{loop.index0}}','overcolor{{loop.index0}}');" title="change status and color of this element" type="button">
            {% if element['status'] == 'done'%}
                <i id="defaulticon{{loop.index0}}" class="primary-font-hover font-size1 bi font-size1-tdl bi-check-square"></i>
            {% else %}
                <i id="defaulticon{{loop.index0}}" class="primary-font-hover font-size1 font-size1-tdl bi bi-square"></i>
            {% endif %}
            <i id="icon{{loop.index0}}" class="display-none primary-font-hover font-size1 font-size1-tdl bi bi-square"></i>

            </button>
        </div>
       
       
    </div>
    <!--image-->
    <div class="border objective-fit-cover-sl margin-left-3 align-self-center">
        {% if element['img_id'] != 0 %}
            {% for image in images%}
                {% if element['img_id'] == image['id'] %}
                <img class="objective-fit-cover-sl " src="data:{{image['mimetype']}};base64,{{image['imagedata']}}" alt="">
                {% endif %}
            {% endfor %}
        {% else %}
        <i class="objective-fit-cover-sl bi bi-slash-circle"></i>No image for this element
        {% endif %}
    </div>
    <!-- name + nolaterthan + note + price-->
    <div class="width65 width-sl-responsive">
        <!-- name + nolaterthan + status-->
        <div align="left" class="d-flex w-auto align-self-stretch">
            <!--name-->
            <div class="w-auto margin-left-8">
                <div class="w-auto"><label class="abrilfatface-font">Name</label></div>
                <div class="w-auto">
                    {% if element['name'] == '' or element['name'] == 'null' %}
                        <h3 class="w-auto border form-control mx-auto bkground-color-box-white poppins-font primary-font">-</h3>
                    {% else %}
                        <h3 class="w-auto border form-control mx-auto bkground-color-box-white poppins-font primary-font">{{element['name']}}</h3>
                    {% endif %}
                </div>
            </div>
            <!--nolaterthan-->
            <div class="w-auto margin-left-8">
                <div class="w-auto">
                    <label class="abrilfatface-font block">NoLaterThan</label>
                </div>
                <div class="d-flex flex-row w-auto">
                    <div class="w-auto">
                        <input id="actiononelement{{loop.index0}}" name="actiononelement" type="hidden" value="updateqnty">
                        <h3 id="quantity{{loop.index0}}" class="w-auto border form-control bkground-color-box-white poppins-font primary-font margin0" > 
                        {%if element['nolaterthan'] == '' or element['nolaterthan'] == 'null' %}
                        -
                        {% else %}
                        {{element['nolaterthan']}}
                        {% endif %}
                        </h3>
                        
                    </div>
                </div>
            </div>
            <!--status-->
            <div class="w-auto margin-left-8">
                <div class="w-auto">
                    <label class="abrilfatface-font block">Status</label>
                </div>
                <div class="d-flex flex-row w-auto">
                    <div class="w-auto">
                        <h3 id="status{{loop.index0}}" class="w-auto border form-control bkground-color-box-white poppins-font primary-font margin0" > 
                        {%if element['status'] == '' or element['status'] == 'null' %}
                        -
                        {% else %}
                        {{element['status']}}
                        {% endif %}
                        </h3>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- note + time -->
        <div align="left" class="d-flex w-auto">
            <!--note-->
            <div class="w-auto margin-left-8">
                <div class="w-auto">
                    <label class="abrilfatface-font block">Note</label>
                </div>
                <div class="w-auto">
                        <h3 class="w-auto border form-control bkground-color-box-white poppins-font primary-font margin0">
                        {% if element['note'] == '' or element['note'] == 'null' %}
                            -
                        {% else %}
                        {{element['note']}}
                        {% endif %}
                        </h3>
                </div>
            </div>
            <!--time-->
            <div class="w-auto margin-left-8">
                <div class="w-auto">
                    <label class="abrilfatface-font block">time</label>
                </div>
                <div class="w-auto">
                    <h3 class="w-auto border form-control bkground-color-box-white poppins-font primary-font margin0">
                        {% if element['time'] == '' or element['time'] == 'null' %}
                            -
                        {% else %}
                        {{element['time']}}
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!--overcolor-->
    {% if element['status'] == 'done' %}
    <div id="overcolordefault{{loop.index0}}" class="position-absolute width100 height100 bkground-color-box-grey top--05">
    </div>
    {% endif %}
    <div id="overcolor{{loop.index0}}" class="display-none position-absolute width100 height100 bkground-color-box-grey top--05">
    </div>

</div>
{% endfor %}
</div>
{% endif %}






{% else %}
    <!--viewstyle grid (image only)-->
    {% if nametable != 'lists'%}
    <div class="container-xxl d-flex align-items-start flex-wrap width100 mx-auto">
    {% for element in elements %}
    <div class="mb-3 p-2 margin-right-3 border btn widthresponsive">
        <button class=" noborder bkground-color-box btn btnfocus btn-primary poppins-font primary-font w-auto" type="button"  title="open this element's details"
            data-bs-toggle="collapse" data-bs-target="#showelementinfo{{loop.index0}}" aria-expanded="false"
            aria-controls="showelementinfo{{loop.index0}}" type="submit" value="">
            <div class="d-flex flex-wrap">
            {% if nametable != 'bills' %}
                {% if element['img_id'] != 0 %}
                    {% for image in images%}
                        {% if element['img_id'] == image['id'] %}
                        <img class="objective-fit-cover" src="data:{{image['mimetype']}};base64,{{image['imagedata']}}" alt="">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="width-image-grid"><i class="objective-fit-cover bi bi-slash-circle"></i>No image for this element</div>
                {% endif %}
            {% endif %}

            {% if nametable == 'bills' %}
                {% if element['img_id'] != 0 %}
                    {% for image in images%}
                        {% if element['img_id'] == image['id'] %}
                            <img class="objective-fit-cover" src="data:{{image['mimetype']}};base64,{{image['imagedata']}}" alt="">
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if element['img_paid_id'] != 0 %}
                    {% for image in images%}
                        {% if element['img_paid_id'] == image['id'] %}
                        <img class="objective-fit-cover" src="data:{{image['mimetype']}};base64,{{image['imagedata']}}" alt="">
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if element['img_id'] == 0 and element['img_paid_id'] == 0 %}
                    <div class="width-image-grid"><i class="objective-fit-cover bi bi-slash-circle"></i>No image for this element</div>
                {% endif %}
            {% endif %}
            </div>
        </button>
    </div>
    {% endfor %}
    </div>
    {% endif %}

{% endif %}
{% endif %}


{% if apologymsg %}
<li class="p-2 style-li-notype width100">
    <div class="mb-3 width100">
        <p id="apologymsg" class="primary-font mx-auto width100" type="text" name="apologymsg"> {{apologymsg}} </p>
    </div>
</li>
{% endif %}
<script>
    
</script>