{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
        <div class="main mx-auto w-auto">
            <div class="mb-5 margin-bottom">
                <img class="logoshadow" src="../static/android-chrome-192x192.png">
            </div>
            <form action="/forgotpassword" method="post">
                <div class="mb-3">
                    {% if apologymsg %}
                    <p id="apologymsg" class="primary-font mx-auto width15" type="submit" name="apologymsg"> {{apologymsg}} </p> 
                    {% endif %}
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                </div>
                <p class="primary-font mx-auto w-auto">or</p>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto mb-2"  name="email" placeholder="Email" type="email">                   
                </div>
                <div class="mb-3">
                    <button class="block btn knewavefont mx-auto primary-colors shadow" type="submit">Send</button>
                </div>
            </form>
        </div>
{% endblock %}