{% extends "layout.html" %}


{% block title %}
Your Lists
{% endblock %}

{% block span %}
your lists
{% endblock %}

{% block main %}
<div>
    <div class="">
        <form action="/" method="post">
            <div class="d-flex flex-row align-content-strech justify-content-start flex-wrap">
                <div class="mb-3">
                    <button
                        class="btn btn-primary knewavefont border primary-font primary-colors text-align-left w-auto"
                        type="button" data-bs-toggle="collapse" data-bs-target="#selecttypelist" aria-expanded="false"
                        aria-controls="selecttypelist">
                        Add New List +
                    </button>
                </div>
                <div class="collapse" id="selecttypelist">
                    <div class="d-flex flex-row">
                        <div class="mb-3 margin-left-15">
                            <select
                                class="bkground-color-box-white border form-select mx-auto w-auto knewavefont primary-font"
                                name="typeoflist">
                                <option disable selected>Type of List</option>
                                {% for element in listtypes %}
                                {% for key,value in element.items() %}
                                <option value="{{value}}">
                                    {{value}}
                                </option>
                                {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 margin-left-15">
                            <input
                                class="border form-control mx-auto w-auto bkground-color-box-white knewavefont primary-font"
                                autocomplete="off" autofocus name="namelist" placeholder="Enter a list name"
                                type="text">
                        </div>
                        <div class="mb-3 margin-left-10">
                            <button class="bkground-color-box-create block btn knewavefont mx-auto primary-colors shadow"
                                type="submit">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% if apologymsg %}
        <div class="mb-3">
            <p id="apologymsg" class="primary-font mx-auto width15" type="submit" name="apologymsg"> {{apologymsg}} </p>
        </div>
        {% endif %}

    </div>
    {% if userslists %}
    <div class="bkground-color-box-white mt-5">
        <div class="mb-3 margin-left-88 ">
            <h2 class="knewavefont primary-font">your lists</h2>
        </div>
        <div class="d-flex flex-row">
            {% for element in userslists %}
            <div class="mb-3 margin-left-1 margin-right-3">
               
                <form action="/list?{{element['id']}}" method="get">
                    <input name="lists_id" type="hidden" value="{{element['id']}}">
                    <button
                        class="border bkground-color-box btn btnfocus btn-primary knewavefont primary-font w-auto h-auto"
                        type="submit" value="{{element['namelist']}}">
                        {{element['namelist'].capitalize()}}
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}