{% extends "layout.html" %}

{% block span %}: Home {% endblock %}

{% block title %}
Home
{% endblock %}



{% block main %}
<div>
    {% if showmessage %}
        <div class="mb-3">
            <p id="apologymsg" class="abrilfatface-font mx-auto primary-font width15" type="text" name="showmessage"> {{showmessage}} </p>
        </div>
        {% endif %}
        <div class="d-flex flex-row align-content-strech justify-content-center flex-wrap mt-5">
                <div class="mt-5"><img alt="keeptrack logo image" class="w-auto" src="/static/android-chrome-192x192.png">
                </div>
                <div class="mt-5">
                <h1 class="abrilfatface-font font-size7 mt-5 primary-font">keep track</h1>
                </div>
        </div>
        <div><h3 class="poppins-font font-size3 mt-5 primary-font">your customized lists stored online</h3></div>
        <div><h3 class="poppins-font font-size3 primary-font">with images</h3></div>
</div>
{% endblock %}