<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        
        <meta name="viewport" content="initial-scale=1, width=device-width">
        
        <!-- bootstrap css stylesheet link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- favicon -->
        <link href="/static/favicon.ico" rel="icon">

        <!--font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">

        <!--css style-->
        <link href="/static/style.css" rel="stylesheet">

        <!--js script-->        
        <script type="text/javascript" src="/static/scripts.js"></script>
        
        <!--Popper for bootstrap scripts-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

        <!--Bootstrap icon-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <script>
            window.onscroll = function() {scrollPage()};

            function scrollPage() {
                upButton = document.getElementById("go-up-button");
                if (document.documentElement.scrollTop > 20) {
                    upButton.style.display = "block";
                } else {
                    upButton.style.display = "none";
                }
            }

            function goUp() {
                document.documentElement.scrollTop = 0;
            }
        </script>
        <title>Keep Track: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <!--navbar-->
        <nav class="bg-light navbar-expand-md navbar navbar-light linear-gradient-top">
            <div class="container-xxl margin0 width100 mb-3">
                <!--left part-->
                <div>
                <a class="navbar-brand" href="/">
                    <span><img src="/static/favicon.ico"></span>
                    <span class="abrilfatface-font primary-font vertical-align-middle">keep track{% block span %}{% endblock %}</span>
                </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler btnfocus" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
                {% if session["user_id"] %}
                <!--right part-->
                        <div align="right" class="dropdown">
                        <a class="abrilfatface-font bkground-color-box no-underline primary-colors primary-font" href="{{url_for('mylists')}}"><button class="bkground-color-box btn btnfocus btn-secondary fontw100 noborder primary-colors" type="button">My Lists</button></a>
                        <button class=" btn btnfocus btn-secondary fontw100 abrilfatface-font fontw100 dropdown-toggle noborder primary-colors w-auto" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">Account</button>
                        <ul class="dropdown-menu abrilfatface-font  fontw100 margindropdown primary-font" aria-labelledby="dropdownMenu2">
                            <li><form action="/mylists" method="get"><button class="dropdown-item fontw100 shadow-item" type="submit">My Lists</button></form></li>
                            <li><form action="/changepassword" method="get"><button class="dropdown-item fontw100 shadow-item" type="submit">Change Password</button></form></li>
                            <li><form action="/logout" method="get"><button class="dropdown-item fontw100 shadow-item" type="submit">Log out</button></form></li>
                        </ul>
                        </div>
            </div>
        </nav>
        {% else %}
                <!--right part-->
                <div>
                    <a class="abrilfatface-font bkground-color-box no-underline primary-colors primary-font" href="{{url_for('login')}}"><button class="bkground-color-box btn btnfocus btn-secondary fontw100 noborder primary-colors w-auto" type="button" >  Log In </button></a>
                    <a class="bkground-color-box no-underline primary-colors primary-font" href="{{url_for('signup')}}"><button class=" abrilfatface-font bkground-color-box btn btnfocus btn-secondary fontw100 noborder primary-colors w-auto" type="button"> Sign Up</button></a>
                </div>
            </div>
        </nav>
        {% endif %}

        <main class="container-fluid margin0 text-center">
            {% block main %}{% endblock %}
        </main>
    </body>
    <footer align="center" class="bkground-color-black ">
        <div class="d-flex flex-row flex-wrap  margin0 mt-4 py-1 width100 ">
            <div align="left" class="margin-left-2 py-2 text-align-center width20 ">
                <img class="" src="/static/favicon.ico" alt="logo keep track">
                <h6 class=" font-size1 inline abrilfatface-font secondary-font vertical-align-middle">keep track</h6>
            </div>
            <div align="left" class="margin-left-15 width25">
                <a class="abrilfatface-font block footer-links no-underline" href="{{url_for('index')}}">HOME</a>
                <a class="abrilfatface-font block footer-links no-underline" href="{{url_for('index')}}">ABOUT</a>
                <a class="abrilfatface-font block footer-links no-underline" href="{{url_for('contact')}}">CONTACT</a>
            </div>
            <div align="left" class="width25">
                <a class="abrilfatface-font block footer-links no-underline" href="{{url_for('login')}}">LOG IN</a>
                <a class="abrilfatface-font block footer-links no-underline" href="{{url_for('signup')}}">SIGN UP</a>
                <a class="abrilfatface-font block footer-links no-underline" href="{{url_for('mylists')}}">MY LISTS</a>

            </div>
        </div>
        <div class="mt-4 mb-3 width100">
            <h6 class="color-white fontw100 font-size085 poppins-font">Keep Track © 2022</h6>
            <h6 class="color-white fontw100 font-size085 poppins-font">Provided by Antonella Giugliano</h6>
        </div>
    </footer>
    <button onclick="goUp()" id="go-up-button" title="Go To Top"><i class="bi bi-caret-up-fill"></i></button>

</html>