{% extends "layout.html" %}

{% block title %}
{{namelist.capitalize()}} list
{% endblock %}

{% block span %}: {{namelist.capitalize()}}
{% endblock %}

{% block main %}

<div class="width100">
    <!--upper bar toggles + their elements-->
    <div class="width100">
        <!--change namelist, add element, delete list-->
        <div class="d-flex justify-content-between">
            <!--div left-->
            <div class="p-2 d-flex justify-content-between">
                <!--toggle for change namelist elements-->
                <div class="p-2">
                    <button
                        class="btn btn-primary abrilfatface-font border primary-font primary-colors text-align-left w-auto"  onclick="closeothertoggle('changenamelistinfo', ['deletelistinfo', 'addelementinfo']);"
                        type="button" data-bs-toggle="collapse" data-bs-target="#changenamelistinfo"
                        aria-expanded="false" aria-controls="changenamelistinfo"> Change List Name +
                    </button>
                </div>
                <!--toggle for addelement elements-->
                <div class="p-2">
                    <button 
                        class="btn btn-primary abrilfatface-font border primary-font primary-colors text-align-left w-auto" onclick="closeothertoggle('addelementinfo', ['deletelistinfo', 'changenamelistinfo']);"
                        type="button" data-bs-toggle="collapse" data-bs-target="#addelementinfo" aria-expanded="false"
                        aria-controls="addelementinfo"> Add New Element +
                    </button>
                </div>
                <!--toggle for deletelist-->
                <div class="p-2">
                    <button
                        class="btn btn-primary abrilfatface-font border primary-font primary-colors text-align-left w-auto" onclick="closeothertoggle('deletelistinfo', ['addelementinfo', 'changenamelistinfo']);"
                        type="button" data-bs-toggle="collapse" data-bs-target="#deletelistinfo" aria-expanded="false"
                        aria-controls="deletelistinfo"> Delete List +
                    </button>
                </div>
            </div>
            <!--div right-->
            <div class="p-2 d-flex justify-content-between">
                <!--search-->
                <div class="p-2 ">
                    <input id="lists_id" type="hidden" value="{{lists_id}}">
                    <input id="search"
                        class="bkground-color-box-white border form-control mx-auto poppins-font primary-font"
                        name="searchbar" autocomplete="off" autofocus type="search" placeholder="search">
                    <ul id="result"></ul>
                    <script>
                        let lists_id = document.getElementById('lists_id')
                        let input_search = document.getElementById('search')
                        input_search.addEventListener('input', async function () {
                            let response = await fetch('/search?lists_id=' + lists_id.value + '&q=' + input_search.value);
                            if (input_search.value == '') {
                                document.getElementById('result').innerHTML = null;
                                return;
                            }
                            else {
                                let entry = await response.text();
                                document.getElementById('result').innerHTML = entry;
                                return;
                            }
                        });
                    </script>
                </div>

            </div>
        </div>
        <!-- toggle elements -->
        <!-- changenamelist elements-->
        <div class="collapse" id="changenamelistinfo">
            <form action="/list?lists_id={{lists_id}}" method="post">
                <div class="d-flex flex-row flex-wrap">
                    <input type="hidden" name="actiononelement" value="changenamelist">
                    <div class="mb-3 margin-left-15 width20 ">
                        <input class="bkground-color-box-white border form-control mx-auto poppins-font primary-font"
                            name="newnamelist" autocomplete="off" autofocus type="Text" placeholder="{{namelist}}">
                    </div>
                    <div class="mb-3 margin-left-8 ">
                        <input
                            class="bkground-color-box-create block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                            name="responsechangenamelist" type="submit" value="Change">
                    </div>
                    <div class="mb-3 margin-left-3">
                        <input
                            class="bkground-color-box-delete block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                            name="responsechangenamelist" type="submit" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
        <!-- addelement elements -->
        <div class="collapse" id="addelementinfo">
            <form action="/list?lists_id={{lists_id}}" method="post" enctype="multipart/form-data">
                <div class="d-flex flex-row flex-wrap">
                    <input type="hidden" name="actiononelement" value="addelement">
                    <input type="hidden" name="lists_id" value="{{lists_id}}">
                    {% for element in listelements %}
                    {% if element['type'] == nametable %}
                    <div class="mb-3 p-2 ">
                        <input
                            class="bkground-color-box-white border form-control mx-auto w-auto abrilfatface-font fontw100 primary-font"
                            name="nametable" disabled type="Text" value={{nametable}}>
                    </div>
                    {% for key,value in element.items() %}
                    {% if key != "type" and key != 'cover_paid'%}
                    {% if key == "cover" or key == 'image' %}
                    <div class="mb-3 p-2">
                        <input
                            class="border form-control mx-auto w-auto bkground-color-box-white poppins-font primary-font"
                            name="inputimage" title="{{value}}" type="file">
                    </div>
                    {% else %}
                    {% if key =='year'%}
                    <div class="mb-3 p-2">
                        <input
                            class="border form-control mx-auto w-auto bkground-color-box-white poppins-font primary-font"
                            autocomplete="off" autofocus name="{{key}}" maxlength="4"
                            placeholder="Enter a {{key.capitalize()}}" title="{{value}}" type="text">
                    </div>
                    {% elif key =='status'%}
                    <div class="btn-group mb-3 p-2 vertical-align-middle">
                        <label class="form-check-label mx-auto w-auto" for="flexRadioDefault1"> {{value[0]}} </label>
                        <input id="flexRadioDefault1"
                            class="form-check-input bkground-color-box-white poppins-font primary-font" checked
                            name="{{key}}" title="{{value}}" type="radio" value="{{value[0]}}">
                    </div>
                    <div class="btn-group mb-3 p-2 vertical-align-middle">
                        <label class="form-check-label mx-auto w-auto" for="flexRadioDefault2"> {{value[1]}}</label>
                        <input id="flexRadioDefault2"
                            class="form-check-input bkground-color-box-white poppins-font primary-font" name="{{key}}"
                            title="{{value}}" type="radio" value="{{value[1]}}">
                    </div>
                    {% elif key == 'expiration_date' or key == 'datetime_of_buying' or key == 'nolaterthan' or key == 'onthisdatetime' %}
                    <div class="mb-3 p-2 text-align-left w-auto">
                        <input autocomplete="off" autofocus name="{{key}}"
                            class="border form-control mx-auto bkground-color-box-white poppins-font primary-font"
                            placeholder="Enter a {{key.capitalize()}}" type="date" title="{{value}}">
                    </div>
                    {% elif key == 'time' %}
                    <div class="mb-3 p-2 text-align-left w-auto">
                        <input autocomplete="off" autofocus name="{{key}}"
                            class="border form-control mx-auto bkground-color-box-white poppins-font primary-font"
                            placeholder="Enter a {{key.capitalize()}}" type="time" title="{{value}}">
                    </div>
                    {% else %}
                    <div class="mb-3 p-2">
                        <input
                            class="border form-control mx-auto w-auto bkground-color-box-white poppins-font primary-font"
                            autocomplete="off" autofocus name="{{key}}" placeholder="Enter a {{key.capitalize()}}"
                            title="{{value}}" type="text">
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}

                    <div class="mb-3 margin-left-3 p-2">
                        <input
                            class="bkground-color-box-create block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                            type="submit" value="Create">
                    </div>
                </div>
            </form>
        </div>
        <!-- deletelist elements-->
        <div class="collapse" id="deletelistinfo">
            <form action="/list?lists_id={{lists_id}}" method="post">
                <div class="d-flex flex-row flex-wrap">
                    <input type="hidden" name="actiononelement" value="deletelist">
                    <div class="mb-3 margin-left-15 width20 ">
                        <input
                            class="bkground-color-box-white border form-control mx-auto abrilfatface-font fontw100 primary-font"
                            disabled type="Text" value="Do you want to delete this list?">
                    </div>
                    <div class="mb-3 margin-left-8 ">
                        <input
                            class="bkground-color-box-create block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                            name="responsedeletelist" type="submit" value="Yes">
                    </div>
                    <div class="mb-3 margin-left-3">
                        <input
                            class="bkground-color-box-delete block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                            name="responsedeletelist" type="submit" value="No">
                    </div>
                </div>
            </form>
        </div>
        <!--apology -->
        {% if apologymsg %}
        <div class="mb-3">
            <p id="apologymsg" class="primary-font poppins-font mx-auto w-auto" type="submit" name="apologymsg">
                {{apologymsg}}
            </p>
        </div>
        {% endif %}
    </div>
    <!--list elements-->
    <div class=" margin0 mt-3 width100">
        <!-- upper elements bar-->
        <div class="border-bottom linear-gradient-bottom d-flex justify-content-between mb-4">
            <!--name-->
            <div class="margin2 mb-3 w-auto">
                <h2 class="abrilfatface-font fontw100 primary-font">{{namelist}}</h2>
            </div>
            <!-- button viewstyle +sortby -->
            <div class="d-flex margin2 mb-3 w-auto">
                <!--openallelement-->
                <div class="p-2">
                    <button id="openall"
                    class="abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left "
                    onclick="openalltoggle('{{elements|length}}','showelementinfo'); displaynone('openall');  displaynone('closeall'); " type="button">OpenAll
                    </button>
                    <!-- close allelement-->
                    <button id="closeall"
                    class="display-none abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left "
                    onclick="closealltoggle('{{elements|length}}','showelementinfo');  displaynone('openall');  displaynone('closeall'); " type="button">CloseAll
                    </button>
                </div>
                <!--sortby-->
                <div class="p-2">
                    <input id="listsid" type="hidden" value={{lists_id}}>
                    <select id="sortselect"
                        class="bkground-color-box-white border form-select poppins-font mx-auto primary-font"
                        name="sorting types" title="sorting types">
                        <option disable selected>sort by</option>
                        {% for key,value in sorttypes.items() %}
                        {% if key == nametable %}
                        {% for element in value %}
                        <option class="poppins-font primary-font" value="{{element}}">
                            {{element}}
                        </option>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- viewstyle-->
                <div class="btn-group p-2 inline">
                    <button id="viewstyletable" name="viewstyle"
                        class="btn btn-primary border primary-font primary-colors text-align-left w-auto" title="table view" type="button"
                        value="table"><i class="bi bi-list-ul"></i>
                    </button>
                    <button id="viewstyletitle" name="viewstyle"
                        class="btn btn-primary border primary-font primary-colors text-align-left w-auto" title="title list view" type="button"
                        value="title"><i class="bi bi-grip-horizontal"></i>
                    </button>
                    <button id="viewstylegrid" name="viewstyle"
                        class="btn btn-primary border primary-font primary-colors text-align-left w-auto" title="image list view" type="button"
                        value="grid"><i class=" bi bi-grid"></i>
                    </button>
                </div>
                {% if nametable == 'shoppinglist' %}
                <div class="btn-group p-2 inline">
                    <button id="viewstyleshoppinglist" name="viewstyle"
                        class="btn btn-primary border primary-font primary-colors text-align-left w-auto" 
                        onclick="closealltoggle('{{elements|length}}','showelementinfo');"
                        title="shopping list view" type="button"
                        value="shopping list"><i class="bi bi-basket-fill"></i>
                    </button>
                </div>
                {% endif %}
                {% if nametable == 'todo' %}
                <div class="btn-group p-2 inline">
                    <button id="viewstyletodolist" name="viewstyle"
                        class="btn btn-primary border primary-font primary-colors text-align-left w-auto" 
                        onclick="closealltoggle('{{elements|length}}','showelementinfo');" 
                        title="check list view" type="button"
                        value="to do list"><i class="bi bi bi-check-square"></i>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        {% if elements|length > 0%}
       
        <!--styleview elements-->
        <div class="">
            <div id="elementviewstylegrid" class="container-xxl mx-auto">
            </div>
            <div id="elementviewstyleshoppinglist" align="center" class="mx-auto">
            </div>
            <div id="elementviewstyletodolist" align="center" class=" mx-auto">
            </div>
            <div id="elementviewstyletitle" class="container-xxl mx-auto">
            </div>
            <div id="elementsdefault" class="container-xxl mx-auto">
            </div>
            <div id="table" align="center" class="container-xxl"></div>
        </div>
        {% endif %}
        {% if elements|length == 0 %}
            <button class="mt-5 border-dashed bkground-color-box btn btnfocus btn-primary poppins-font primary-font" type="button"
            data-bs-toggle="collapse" data-bs-target="#addelementinfo" aria-expanded="false"
            aria-controls="addelementinfo" type="submit" value="">
            <div align="left" class="mt-2 container-xxl d-flex align-items-start flex-wrap mx-auto">
                <div align="left" class="width50">
                    <h6 class="">Add a new<br> element</h6>
                </div>
                <div align="right" class="width50 align-self-center">
                    <i class="font-size2 position-relative bi bi-plus-circle"></i>
                </div>

            </div>
            </button>
            <div class="mt-5 mb-3 font-size2 poppins-font primary-font">
               {{namelist.capitalize()}} list is empty.<br>
                Click on the button to start adding items to this list!
            </div>
        {% endif %}
    </div>
</div>
<script>
    // change class to show input
    function changeClass(elem1, elem2) {
        if (elem1 != elem2) {
            let shown = document.getElementById(String(elem2));
            let hidden = document.getElementById(String(elem1));
            if (shown.classList.contains('display-none')) {
                shown.classList.remove('display-none')
                shown.classList.add('inline')
                hidden.classList.add('display-none')
                hidden.classList.remove('inline')

            }
            else {
                shown.classList.add('display-none')
                shown.classList.remove('inline')
                hidden.classList.remove('display-none')
                hidden.classList.add('inline')

            }
        }
        else {
            let shown = document.getElementById(String(elem1));
            if (shown.classList.contains('display-none')) {
                shown.classList.remove('display-none')
                shown.classList.add('inline')

            }
            else {
                shown.classList.add('display-none')
                shown.classList.remove('inline')

            }
        }
        return
    }

    // manage sort by select and grid-list-title buttons
    let listsid = document.getElementById('listsid')
    let sortselect = document.getElementById('sortselect')
    let viewstyletable = document.getElementById('viewstyletable')
    let viewstylegrid = document.getElementById('viewstylegrid')
    let viewstyletitle = document.getElementById('viewstyletitle')
    let viewstyleshoppinglist = document.getElementById('viewstyleshoppinglist')
    let viewstyletodolist = document.getElementById('viewstyletodolist')

    let currentstyleview = 'title'
    let currentsortby = sortselect.input

    // func to load elements of a list, sort type and style view 
    window.addEventListener("load", async function () {
        let response = await fetch('/elements?lists_id=' + listsid.value + '&sortby=' + 'least recent'+ '&styleview=' + 'title');
        let elements = await response.text();
            document.getElementById('elementsdefault').innerHTML = elements;
            document.getElementById('table').innerHTML = null;
            document.getElementById('elementviewstylegrid').innerHTML = null;
            document.getElementById('elementviewstyletitle').innerHTML = null;
            document.getElementById('elementviewstyleshoppinglist').innerHTML = null;
            document.getElementById('elementviewstyletodolist').innerHTML = null;
            currentstyleview = 'title';
        }
    );

    sortselect.addEventListener('change', async function () {
        let response = await fetch('/elements?lists_id=' + listsid.value + '&sortby=' + sortselect.value + '&styleview=' + currentstyleview);
        let elements = await response.text();
        if (currentstyleview == 'table') {
            document.getElementById('table').innerHTML = elements;
            document.getElementById('elementsdefault').innerHTML = null;
            document.getElementById('elementviewstylegrid').innerHTML = null;
            document.getElementById('elementviewstyletitle').innerHTML = null;
            document.getElementById('elementviewstyleshoppinglist').innerHTML = null;
            document.getElementById('elementviewstyletodolist').innerHTML = null;
        }
        else if (currentstyleview == 'title') {
            document.getElementById('table').innerHTML = null;
            document.getElementById('elementsdefault').innerHTML = null;
            document.getElementById('elementviewstylegrid').innerHTML = null;
            document.getElementById('elementviewstyletitle').innerHTML = elements;
            document.getElementById('elementviewstyleshoppinglist').innerHTML = null;
            document.getElementById('elementviewstyletodolist').innerHTML = null;
        }
        else if (currentstyleview == 'shopping list') {
            document.getElementById('table').innerHTML = null;
            document.getElementById('elementsdefault').innerHTML = null;
            document.getElementById('elementviewstylegrid').innerHTML = null;
            document.getElementById('elementviewstyletitle').innerHTML = null;
            document.getElementById('elementviewstyleshoppinglist').innerHTML = elements;
            document.getElementById('elementviewstyletodolist').innerHTML = null;
        }
        else if (currentstyleview == 'to do list') {
            document.getElementById('elementsdefault').innerHTML = null;
            document.getElementById('table').innerHTML = null;
            document.getElementById('elementviewstylegrid').innerHTML = null;
            document.getElementById('elementviewstyletitle').innerHTML = null;
            document.getElementById('elementviewstyleshoppinglist').innerHTML = null;
            document.getElementById('elementviewstyletodolist').innerHTML = elements;
        }
        else {
            document.getElementById('elementsdefault').innerHTML = null;
            document.getElementById('table').innerHTML = null;
            document.getElementById('elementviewstylegrid').innerHTML = elements;
            document.getElementById('elementviewstyletitle').innerHTML = null;
            document.getElementById('elementviewstyleshoppinglist').innerHTML = null;
            document.getElementById('elementviewstyletodolist').innerHTML = null;
        }
        currentsortby = sortselect.value
    }
    );


    // func to change styleview
    if (viewstyletable != null){
    viewstyletable.addEventListener('click', async function () {
        let response = await fetch('elements?lists_id=' + listsid.value + '&styleview=' + 'table' + '&sortby=' + currentsortby);
        let elements = await response.text();
        document.getElementById('table').innerHTML = elements;
        document.getElementById('elementsdefault').innerHTML = null;
        document.getElementById('elementviewstylegrid').innerHTML = null;
        document.getElementById('elementviewstyletitle').innerHTML = null;
        document.getElementById('elementviewstyleshoppinglist').innerHTML = null;
        document.getElementById('elementviewstyletodolist').innerHTML = null;

        currentstyleview = 'table'
    })}

    if (viewstylegrid != null){
    viewstylegrid.addEventListener('click', async function () {
        let response = await fetch('elements?lists_id=' + listsid.value + '&styleview=' + 'grid' + '&sortby=' + currentsortby);
        let elements = await response.text();
        document.getElementById('table').innerHTML = null;
        document.getElementById('elementsdefault').innerHTML = null;
        document.getElementById('elementviewstylegrid').innerHTML = elements;
        document.getElementById('elementviewstyletitle').innerHTML = null;
        document.getElementById('elementviewstyleshoppinglist').innerHTML = null;
        document.getElementById('elementviewstyletodolist').innerHTML = null;

        currentstyleview = 'grid'
    })}

    if (viewstyletitle != null){
    viewstyletitle.addEventListener('click', async function () {
        let response = await fetch('elements?lists_id=' + listsid.value + '&styleview=' + 'title' + '&sortby=' + currentsortby);
        let elements = await response.text();
        document.getElementById('table').innerHTML = null;
        document.getElementById('elementsdefault').innerHTML = null;
        document.getElementById('elementviewstylegrid').innerHTML = null;
        document.getElementById('elementviewstyletitle').innerHTML = elements;
        document.getElementById('elementviewstyleshoppinglist').innerHTML = null;
        document.getElementById('elementviewstyletodolist').innerHTML = null;

        currentstyleview = 'title'
    })}

    if (viewstyleshoppinglist != null){
    viewstyleshoppinglist.addEventListener('click', async function () {
        let response = await fetch('elements?lists_id=' + listsid.value + '&styleview=' + 'shopping list' + '&sortby=' + currentsortby);
        let elements = await response.text();
        document.getElementById('table').innerHTML = null;
        document.getElementById('elementsdefault').innerHTML = null;
        document.getElementById('elementviewstylegrid').innerHTML = null;
        document.getElementById('elementviewstyletitle').innerHTML = null;
        document.getElementById('elementviewstyleshoppinglist').innerHTML = elements;
        document.getElementById('elementviewstyletodolist').innerHTML = null;

        currentstyleview = 'shopping list'
    })}

    if (viewstyletodolist != null){
    viewstyletodolist.addEventListener('click', async function () {
        let response = await fetch('elements?lists_id=' + listsid.value + '&styleview=' + 'to do list' + '&sortby=' + currentsortby);
        let elements = await response.text();
        document.getElementById('table').innerHTML = null;
        document.getElementById('elementsdefault').innerHTML = null;
        document.getElementById('elementviewstylegrid').innerHTML = null;
        document.getElementById('elementviewstyletitle').innerHTML = null;
        document.getElementById('elementviewstyleshoppinglist').innerHTML = null;
        document.getElementById('elementviewstyletodolist').innerHTML = elements;

        currentstyleview = 'to do list'
    })}

    // func to show/hide 1 element
    function displaynone(element) {
        let xy = document.getElementById(String(element));
        if (xy.classList.contains('display-none')) {
            xy.classList.remove('display-none')
        }
        else {
            xy.classList.add('display-none')
        }
    }

    // func to decrease value
    function decreaseqnty(elementtochange) {
        // value
        var val = document.getElementById(String(elementtochange)).innerText
        // handle value
        if (val == '-') {
            var newval = 0
        }
        else if (val == 0) {
            return
        }
        else {
            val = parseInt(val);
            var newval = val - 1;
        }
        document.getElementById(String(elementtochange)).innerText = newval;
    }

    // func to update async the quantity
    async function updatetable(elementtochange, listsid, id, type) {
        let lists_id = document.getElementById(String(listsid))
        let el_id = document.getElementById(String(id))
        let quantity = document.getElementById(String(elementtochange))
        let response = await fetch('/list?lists_id=' + lists_id.value + '&id=' + el_id.value + '&quantity=' + quantity.innerText + '&actiononelement=' + 'updateqnty' + '&type=' + type);
        return;
    };


    // func to increase value
    function increaseqnty(elementtochange) {
        var val = document.getElementById(String(elementtochange)).innerText
        if (val == '-') {
            var newval = 1
            document.getElementById(String(elementtochange)).innerText = newval;
            return
        }
        val = parseInt(val);
        var newval = val + 1;
        document.getElementById(String(elementtochange)).innerText = newval;

    }

    // func to close toggled
    function closethistoggle(element) {
        var eltoclose = document.getElementById(String(element))
        if (eltoclose != null) {
            if (eltoclose.classList.contains('show')) {
                eltoclose.classList.remove('show')
            }
        }
        return
    }



    // func to close all collapse toggled
    function closealltoggle(numb, element) {
        for (let i = 0; i < parseInt(numb); i++) {
            var eltoclose = document.getElementById(String(element) + String(i))
            if (eltoclose != null) {
                if (eltoclose.classList.contains('show')) {
                    eltoclose.classList.remove('show')
                }
            }
        }
        return
    }
    // func to open all collapse toggled
    function openalltoggle(numb, element) {
        for (let i = 0; i < parseInt(numb); i++) {
            var eltoclose = document.getElementById(String(element) + String(i))
            if (eltoclose != null) {
                if (!(eltoclose.classList.contains('show'))) {
                    eltoclose.classList.add('show')
                }
            }
        }
        return
    }


     // func to update async the to do status
    async function updatetodostatus(elementtochange, listsid, id) {
        let lists_id = document.getElementById(String(listsid))
        let el_id = document.getElementById(String(id))
        let status = document.getElementById(String(elementtochange))
        let response = await fetch('/list?lists_id=' + lists_id.value + '&id=' + el_id.value + '&status=' + status.innerText + '&actiononelement=' + 'updatetodostatus');
        let entry = await response.text();

       if (status.innerText == 'to do'){
            document.getElementById(String(elementtochange)).innerText = 'done'
        }
        else if (status.innerText == 'done'){
            document.getElementById(String(elementtochange)).innerText = 'to do'
        }
        return;
    };

    // func to show/hide 1 element
    function displaynonetodolist(element,defaultel, statusel, defaulticn, icn) {
        let status = document.getElementById(String(statusel))
        let defaultelem = document.getElementById(String(defaultel))
        let defaulticon = document.getElementById(String(defaulticn))
        let icon = document.getElementById(String(icn))

        // hide default style
        if (defaultelem != null){
            defaultelem.classList.add('display-none')
        }
        if (!(defaulticon.classList.contains('display-none')))
        {
            defaulticon.classList.add('display-none')
        }
        // show new style
        if (icon.classList.contains('display-none')){
            icon.classList.remove('display-none')
        }

        let xy = document.getElementById(String(element));

        if (status.innerText == 'to do'){
            if (xy.classList.contains('display-none')) {
                xy.classList.remove('display-none')
            }
            

            if (icon.classList.contains('bi-square')) {
                icon.classList.remove('bi-square')
                icon.classList.add('bi-check-square')
            }
            return
        }   
        else if (status.innerText == 'done'){
            if (xy.classList.contains('display-none')) {
                xy.classList.add('display-none')
            } 
            if (!(xy.classList.contains('display-none'))) {
                xy.classList.add('display-none')
            } 
            if (icon.classList.contains('bi-check-square')) {
                icon.classList.remove('bi-check-square')
                icon.classList.add('bi-square')
            }
            return
        }


    }

    // func to close other toggles in uppar bar
    function closeothertoggle(element, array){
        let el = document.getElementById(String(element))
        for (i of array) {
            var i = document.getElementById(String(i))
            if (el != i) {
                if (i.classList.contains('show')) {
                    i.classList.remove('show')
                }
            }
        }
        return
    }


    
</script>

{% endblock %}