{% extends "layout.html" %}

{% block title %}
{{namelist.capitalize()}} list
{% endblock %}

{% block span %}: {{namelist.capitalize()}} 
{% endblock %}

{% block main %}

<div class="width100">
    <!-- toggles + their elements-->
    <div class="width100">
        <!--change namelist, add element, delete list-->
        <div class="d-flex justify-content-between">
            <!--div left-->
            <div class="p-2 d-flex justify-content-between">
                <!--toggle for change namelist elements-->
                <div class="p-2">
                    <button
                        class="btn btn-primary abrilfatface-font border primary-font primary-colors text-align-left w-auto"
                        type="button" data-bs-toggle="collapse" data-bs-target="#changenamelistinfo"
                        aria-expanded="false" aria-controls="changenamelistinfo"> Change List Name +
                    </button>
                </div>
                <!--toggle for addelement elements-->
                <div class="p-2">
                    <button
                        class="btn btn-primary abrilfatface-font border primary-font primary-colors text-align-left w-auto"
                        type="button" data-bs-toggle="collapse" data-bs-target="#addelementinfo" aria-expanded="false"
                        aria-controls="addelementinfo"> Add New Element +
                    </button>
                </div>
                <!--toggle for deletelist-->
                <div class="p-2">
                    <button
                        class="btn btn-primary abrilfatface-font border primary-font primary-colors text-align-left w-auto"
                        type="button" data-bs-toggle="collapse" data-bs-target="#deletelistinfo" aria-expanded="false"
                        aria-controls="deletelistinfo"> Delete List +
                    </button>
                </div>
            </div>
            <!--div right-->
            <div class="p-2 d-flex justify-content-between">
                <!--search-->
                <div class="p-2 ">
                    <input id="lists_id" type="hidden" value="{{lists_id}}">
                    <input id="search"
                        class="bkground-color-box-white border form-control mx-auto poppins-font primary-font"
                        name="searchbar" autocomplete="off" autofocus type="search" placeholder="search">
                    <ul id="result"></ul>
                    <script>
                        let lists_id = document.getElementById('lists_id')
                        let input_search = document.getElementById('search')
                        input_search.addEventListener('input', async function () {
                            let response = await fetch('/search?lists_id=' + lists_id.value + '&q=' + input_search.value);
                            if (input_search.value == '') {
                                document.getElementById('result').innerHTML = null;
                                return;
                            }
                            else {
                                let entry = await response.text();
                                document.getElementById('result').innerHTML = entry;
                                return;
                            }
                        });
                    </script>
                </div>

            </div>
        </div>
        <!-- toggle elements -->
        <!-- changenamelist elements-->
        <div class="collapse" id="changenamelistinfo">
            <form action="/list?lists_id={{lists_id}}" method="post">
                <div class="d-flex flex-row flex-wrap">
                    <input type="hidden" name="actiononelement" value="changenamelist">
                    <div class="mb-3 margin-left-15 width20 ">
                        <input class="bkground-color-box-white border form-control mx-auto poppins-font primary-font"
                            name="newnamelist" autocomplete="off" autofocus type="Text" placeholder="{{namelist}}">
                    </div>
                    <div class="mb-3 margin-left-8 ">
                        <input class="bkground-color-box-create block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                            name="responsechangenamelist" type="submit" value="Change">
                    </div>
                    <div class="mb-3 margin-left-3">
                        <input class="bkground-color-box-delete block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                            name="responsechangenamelist" type="submit" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
        <!-- addelement elements -->
        <div class="collapse" id="addelementinfo">
            <form action="/list?lists_id={{lists_id}}" method="post" enctype="multipart/form-data">
                <div class="d-flex flex-row flex-wrap">
                    <input type="hidden" name="actiononelement" value="addelement">
                    <input type="hidden" name="lists_id" value="{{lists_id}}">
                    {% for element in listelements %}
                    {% if element['type'] == nametable %}
                    <div class="mb-3 p-2 ">
                        <input
                            class="bkground-color-box-white border form-control mx-auto w-auto abrilfatface-font fontw100 primary-font"
                            name="nametable" disabled type="Text" value={{nametable}}>
                    </div>
                    {% for key,value in element.items() %}
                    {% if key != "type" %}
                        {% if key == "cover" or key == 'image' %}
                        <div class="mb-3 p-2">
                            <input
                                class="border form-control mx-auto w-auto bkground-color-box-white poppins-font primary-font"
                                name="inputimage" title="{{value}}" type="file">
                        </div>
                        {% else %}
                            {% if key =='year'%}
                            <div class="mb-3 p-2">
                                <input 
                                    class="border form-control mx-auto w-auto bkground-color-box-white poppins-font primary-font"
                                    autocomplete="off" autofocus name="{{key}}" maxlength="4"
                                    placeholder="Enter a {{key.capitalize()}}" title="{{value}}" type="text">
                            </div>
                            {% elif key =='status'%}
                            <div class="btn-group mb-3 p-2 vertical-align-middle">
                                <label class="form-check-label mx-auto w-auto" for="flexRadioDefault1"> To buy </label>
                                <input id="flexRadioDefault1"
                                    class="form-check-input bkground-color-box-white poppins-font primary-font" checked
                                    name="{{key}}" 
                                    title="{{value}}" type="radio" value="to buy">
                            </div>
                            <div class="btn-group mb-3 p-2 vertical-align-middle">
                                <label class="form-check-label mx-auto w-auto" for="flexRadioDefault2"> Bought</label>
                                <input id="flexRadioDefault2"
                                    class="form-check-input bkground-color-box-white poppins-font primary-font"
                                    name="{{key}}" 
                                    title="{{value}}" type="radio" value="bought">
                            </div>
                            {% else %}
                            <div class="mb-3 p-2">
                                <input
                                    class="border form-control mx-auto w-auto bkground-color-box-white poppins-font primary-font"
                                    autocomplete="off" autofocus name="{{key}}" placeholder="Enter a {{key.capitalize()}}"
                                    title="{{value}}" type="text">
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}

                    <div class="mb-3 margin-left-3 p-2">
                        <input class="bkground-color-box-create block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                            type="submit" value="Create">
                    </div>
                </div>
            </form>
        </div>
        <!-- deletelist elements-->
        <div class="collapse" id="deletelistinfo">
            <form action="/list?lists_id={{lists_id}}" method="post">
                <div class="d-flex flex-row flex-wrap">
                    <input type="hidden" name="actiononelement" value="deletelist">
                    <div class="mb-3 margin-left-15 width20 ">
                        <input class="bkground-color-box-white border form-control mx-auto abrilfatface-font fontw100 primary-font"
                            disabled type="Text" value="Do you want to delete this list?">
                    </div>
                    <div class="mb-3 margin-left-8 ">
                        <input class="bkground-color-box-create block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                            name="responsedeletelist" type="submit" value="Yes">
                    </div>
                    <div class="mb-3 margin-left-3">
                        <input class="bkground-color-box-delete block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                            name="responsedeletelist" type="submit" value="No">
                    </div>
                </div>
            </form>
        </div>
        <!--apology -->
        {% if apologymsg %}
        <div class="mb-3">
            <p id="apologymsg" class="primary-font poppins-font mx-auto w-auto" type="submit" name="apologymsg"> {{apologymsg}}
            </p>
        </div>
        {% endif %}
    </div>
    <!--list elements-->
    <div class=" margin0 mt-3 width100">
        <!-- upper elements bar-->
        <div class="border-bottom linear-gradient-bottom d-flex justify-content-between mb-4">
            <!--name-->
            <div class="margin2 mb-3 w-auto">
                <h2 class="abrilfatface-font fontw100 primary-font">{{namelist}}</h2>
            </div>
            <!-- button viewstyle +sortby -->
            <div class="d-flex margin2 mb-3 w-auto">
                <!--sortby-->
                <div class="p-2">
                    <input id="listsid" type="hidden" value={{lists_id}}>
                    <select id="sortselect"
                        class="bkground-color-box-white border form-select poppins-font mx-auto primary-font"
                        name="typeoflist">
                        <option disable selected>sort by</option>
                        {% for key,value in sorttypes.items() %}
                        {% if key == nametable %}
                        {% for element in value %}
                        <option class="poppins-font primary-font" value="{{element}}">
                            {{element}}
                        </option>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- viewstyle-->
                <div class="btn-group p-2 inline">
                    <button id="viewstyletable" name="viewstyle"
                        class="btn btn-primary border primary-font primary-colors text-align-left w-auto"
                        type="button" value="table"><i class="bi bi-list-ul"></i>
                    </button>
                    <button id="viewstyletitle" name="viewstyle"
                        class="btn btn-primary border primary-font primary-colors text-align-left w-auto"
                        type="button" value="title"><i class="bi bi-grip-horizontal"></i>
                    </button>
                    <button id="viewstylegrid" name="viewstyle"
                        class="btn btn-primary border primary-font primary-colors text-align-left w-auto"
                        type="button" value="grid"><i class=" bi bi-grid"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- showelementinfo elements-->
        {% for element in elements %}
        <div class="collapse" id="showelementinfo{{element['id']}}">
            <div class="d-flex flex-row flex-wrap margin2">
                <!--image of showelementinfo-->
                {% for image in images%}
                {% if image['nametable_id'] == element['id'] %}
                <div class="mb-3 width14">
                    <form action="/image?{{image['nametable']}}&{{image['nametable_id']}} " method="get">
                        <input name="nametable_id" type="hidden" value="{{image['nametable_id']}}">
                        <input name="nametable" type="hidden" value="{{image['nametable']}}">
                        <button class="noborder" type="submit">
                            <img class="border form-control bkground-color-box-white poppins-font primary-font"
                                src="data:{{image['mimetype']}};base64,{{image['imagedata']}}">
                        </button>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
                <!--other showelementinfo items -->
                <div id="elementstoshow{{loop.index0}}" class="mb-3 inline width60">
                    <div class="d-flex flex-row flex-wrap">
                        {% for key,value in element.items() %}
                        {% if key != 'cover' %}
                        {% if key != 'id' and key != 'img_id' and key != 'lists_id' and key != 'user_id' %}
                        <div class="mb-3 margin-left-8 text-align-left w-auto">
                            <label class="abrilfatface-font">{{key.capitalize()}}</label>
                            {% if value == '' or value == 'null' %}
                            <h3 class="border form-control mx-auto bkground-color-box-white poppins-font primary-font">
                            -
                            </h3>
                            {% else %}
                            <h3 class="border form-control mx-auto bkground-color-box-white poppins-font primary-font">
                            {{value}}
                            </h3>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        </form>
                    </div>
                </div>
                <!--edit toggle elements to edit the showelementinfo-->
                <div id="editinfo{{loop.index0}}" class="mb-3 display-none width60">
                    <form action="/list?lists_id={{lists_id}}" method="post">
                        <div class="mb-3" align="center">
                            <div class="d-flex flex-row flex-wrap">
                                {% for key,value in element.items() %}
                                {% if key != 'cover' and key != 'address' %}
                                    {% if key != 'id' and key != 'img_id' and key != 'lists_id' and key != 'user_id' and key != 'namelist' and key!= 'year' and key != 'note' and key!= 'description' %}
                                    <div class="mb-3 margin-left-8 p-2 text-align-left w-auto">
                                    <label class="abrilfatface-font " for="edit{{key}}">{{key.capitalize()}}</label>
                                    {% if value == '' or value == 'null' %}
                                    <input name="edit{{key}}"
                                        class="border form-control mx-auto bkground-color-box-white poppins-font primary-font " 
                                        placeholder="{{key}}: -" type="text">
                                    {% else %}
                                    <input name="edit{{key}}"
                                    class="border form-control mx-auto bkground-color-box-white poppins-font primary-font"
                                    placeholder="{{key}}: {{value}}" type="text" value="{{value}}">
                                    {% endif %}
                                    </div>
                                    {% endif %}
                                    {% if key == 'year' %}
                                    <div class="mb-3 margin-left-8 p-2 text-align-left w-auto">
                                    <label class="abrilfatface-font " for="edit{{key}}">{{key.capitalize()}}</label>
                                    <input name="edit{{key}}" class="border form-control mx-auto bkground-color-box-white poppins-font primary-font" maxlength="4" placeholder="{{key}}: {{value}}" type="text" value="{{value}}">
                                    </div>
                                    {% endif %}
                                    {% if key == 'note' or key =='description' %}
                                    <div class="mb-3 margin-left-8 p-2  text-align-left w-auto">
                                    <label class="abrilfatface-font " for="edit{{key}}">{{key.capitalize()}}</label>
                                    {% if value == '' %}
                                    <textarea name="edit{{key}}" class="border form-control mx-auto bkground-color-box-white poppins-font primary-font resizable w-auto" placeholder= "{{key}}: -"></textarea>
                                    {% else %}
                                    <textarea name="edit{{key}}" class="border form-control mx-auto bkground-color-box-white poppins-font primary-font resizable w-auto" placeholder= "{{key}}: {{value}}">{{value}}</textarea>
                                    {% endif %}
                                    </div>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                                <input name="actiononelement" type="hidden" value="editelement">
                                <input name="ideditelement" type="hidden" value="{{element['id']}}">
                            </div>
                            <!--update button-->
                            <div class="mb-3 p-2">
                                <input class="bkground-color-box-create btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                                    type="submit" value="Update">
                            </div>
                        </div>
                    </form>
                </div>
                <!--Edit, download, delete item buttons-->
                <div class="mb-3 inline margin-left-3" align="left">
                    <!--Edit Toggle-->
                    <div class="mb-3">
                        <button id="edittoggle{{loop.index0}}"
                            class="abrilfatface-font btn btn-primary border mx-auto primary-font primary-colors text-align-left " onclick="changeClass('elementstoshow{{loop.index0}}', 'editinfo{{loop.index0}}');" type="button">Edit +</button>
                    </div>
                    <!--Download element-->
                    <div class="mb-3">
                        <form action="/list?lists_id={{lists_id}}" method="post">
                            <input name="actiononelement" type="hidden" value="downloadelement">
                            <input name="iddownloadelement" type="hidden" value="{{element['id']}}">
                            <input class="bkground-color-box block btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                                type="submit" value="Download">
                        </form>
                    </div>
                    <!--Delete element-->
                    <div class="mb-3">
                        <form action="/list?lists_id={{lists_id}}" method="post">
                            <input name="actiononelement" type="hidden" value="deleteelement">
                            <input name="iddeleteelement" type="hidden" value="{{element['id']}}">
                            <input class="bkground-color-box-delete btn abrilfatface-font fontw100 mx-auto primary-colors shadow"
                                type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="">
            <div id="elementviewstylegrid"  class="container-xxl d-flex align-items-start flex-wrap mx-auto">
            </div>
            <div id="elementviewstyletitle"  class="container-xxl d-flex align-items-start flex-wrap mx-auto">
            </div>
            <div id="table" align="center" class= width80"></div>
            <!--default viewstyle-->
            <div id="elementsdefault" class="d-flex align-items-start flex-wrap mx-auto p-1">
                {% for element in elements %}
                <div class="mb-3 p-2">
                    <button class="border bkground-color-box btn btnfocus btn-primary poppins-font primary-font" type="button"
                        data-bs-toggle="collapse" data-bs-target="#showelementinfo{{element['id']}}" aria-expanded="false"
                        aria-controls="showelementinfo{{element['id']}}" type="submit" value="">
                        <div align="left" class="height-width25">
                                <p>{% if element['title'] %}
                                    {{element['title'].capitalize()}}
                                {% endif %}
                                {% if element['name'] %}
                                    {{element['name'].capitalize()}}
                                {% endif %}
                                </p>
                                <p>
                                {% for key,value in element.items() %}
                                    {% if key in ['year', 'city'] %}
                                        {% if value == '' or value == 'null' %}
                                        -
                                        {%else%}
                                        {{element[key]}}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </button>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>
<script>
    // change class to show input
    function changeClass(elem1, elem2) {
        let shown = document.getElementById(String(elem2));
        let hidden = document.getElementById(String(elem1));
        if (shown.classList.contains('display-none')) {
            shown.classList.remove('display-none')
            shown.classList.add('inline')
            hidden.classList.add('display-none')
            hidden.classList.remove('inline')

        }
        else {
            shown.classList.add('display-none')
            shown.classList.remove('inline')
            hidden.classList.remove('display-none')
            hidden.classList.add('inline')

        }
        return
    }


    // manage sort by select and grid-list-title buttons
    let listsid = document.getElementById('listsid')
    let sortselect = document.getElementById('sortselect')
    let viewstyletable = document.getElementById('viewstyletable')
    let viewstylegrid = document.getElementById('viewstylegrid')
    let viewstyletitle = document.getElementById('viewstyletitle')

    let currentstyleview = 'title'
    let currentsortby = sortselect.input

    sortselect.addEventListener('change', async function () {
        let response = await fetch('/elements?lists_id=' + listsid.value + '&sortby=' + sortselect.value + '&styleview=' + currentstyleview);
        let elements = await response.text();
        document.getElementById('elementsdefault').innerHTML = null;
        if (currentstyleview == 'table') {
            document.getElementById('table').innerHTML = elements;
            document.getElementById('elementviewstylegrid').innerHTML = null;
            document.getElementById('elementviewstyletitle').innerHTML = null;
        }
        else if (currentstyleview == 'title') {
            document.getElementById('table').innerHTML = null;
            document.getElementById('elementviewstylegrid').innerHTML = null;
            document.getElementById('elementviewstyletitle').innerHTML = elements;
        }
        else {
            document.getElementById('table').innerHTML = null;
            document.getElementById('elementviewstylegrid').innerHTML = elements;
            document.getElementById('elementviewstyletitle').innerHTML = null;
        }
        currentsortby = sortselect.value
    }
    );

    viewstyletable.addEventListener('click', async function () {
        let response = await fetch('elements?lists_id=' + listsid.value + '&styleview=' + 'table' + '&sortby=' + currentsortby);
        let elements = await response.text();
        document.getElementById('table').innerHTML = elements;
        document.getElementById('elementsdefault').innerHTML = null;
        document.getElementById('elementviewstylegrid').innerHTML = null;
        document.getElementById('elementviewstyletitle').innerHTML = null;
        currentstyleview = 'table'
    })
    viewstylegrid.addEventListener('click', async function () {
        let response = await fetch('elements?lists_id=' + listsid.value + '&styleview=' + 'grid' + '&sortby=' + currentsortby);
        let elements = await response.text();
        document.getElementById('table').innerHTML = null;
        document.getElementById('elementsdefault').innerHTML = elements;
        document.getElementById('elementviewstylegrid').innerHTML = null;
        document.getElementById('elementviewstyletitle').innerHTML = null;
        currentstyleview = 'grid'
    })
    viewstyletitle.addEventListener('click', async function () {
        let response = await fetch('elements?lists_id=' + listsid.value + '&styleview=' + 'title' + '&sortby=' + currentsortby);
        let elements = await response.text();
        document.getElementById('table').innerHTML = null;
        document.getElementById('elementsdefault').innerHTML = null;
        document.getElementById('elementviewstylegrid').innerHTML = null;
        document.getElementById('elementviewstyletitle').innerHTML = elements;
        currentstyleview = 'title'
    })

</script>

{% endblock %}